@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background: #fff;
  color: #222;
  font-family: "Rubik";
  padding-top: 2rem;
}
.title {
  text-align: center;
  font-size: 36px;
}
.detail {
  text-align: center;
  font-size: 16px;
  color: #666;
}
.main {
  border: 1px solid #dddddd;
  border-radius: 8px;
  background: #f9f8f3;
  padding: 16px;
}
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.calculator-detail {
  font-size: 20px;
  font-family: "Rubik";
  font-weight: 600;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.input-label {
  color: #666;
  margin-right: 4rem;
}
.input-form {
  justify-content: space-between;
  margin-top: 3rem;
  gap: 3rem;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 20rem;
  height: 5px;
  background: linear-gradient(to right, rgb(0, 184, 82) 0%, #ddd 0%);
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
  transition: background 0.3s;
  margin-top: 1rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.2s;
  border: 2px solid rgb(0, 184, 82);
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.2s;
  border: 2px solid rgb(0, 184, 82);
}

input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.2);
}
input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  width: 6rem;
  font-size: 16px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1rem;
  transition: 0.5s;
}
input[type="text"]:focus {
  border-bottom: 1px solid rgb(0, 184, 82);
}
.output {
  margin-top: 3rem;
  height: 20rem;
}
.flex-1 {
  flex: 1;
}
.result-text {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 16px;
}
.space-between {
  justify-content: space-between;
}
.result-chart {
  display: flex;
  justify-content: center;
} 
.result-text p {
  color: #666;
}
